!!! 5
%html
  - meta_tag :description,"bitcoin, ethereum token wallet"
  - meta_tag :keywords,"bitcoin, ethereum, token, wallet"
  = render 'head'
  %body{class:"#{controller_name} #{action_name}"}
    = include_gon
    = render 'flash'
    -# = header
    = yield
    = render 'footer'
